/upload/*.jpg
/upload/*.jpeg
/upload/*.png
/upload/*.JPG
/upload/*.JPEG
/upload/*.PNG

!/upload/alonso.jpg
!/upload/chavez.jpg
!/upload/cielo.jpg
!/upload/daiane.jpg
!/upload/daniele.jpg
!/upload/edmundo.jpg
!/upload/esquii.jpg
!/upload/metro.jpg
!/upload/neymar.jpg
!/upload/paulo_renato.jpg
!/upload/rafael_silva.jpg
!/upload/roberta.jpg